body {
    color: #fff;
    background-image: url("https://lh6.googleusercontent.com/OBVMhUDBAQwH6Nef1f4OoqGODNA_PzACC468VPqYuZF2PoVHx-YIpTmm0ZINeuVfyBNtZD57SAZvEQ=w1853-h951")
}

.ui-tooltip a, a, table th a {
    color: #0ce3ac;
}

table th {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f;
}

table td {
    border-color: #375a7f;
}

table#board td a:hover {
    color: #000;
}
.table-list{
    background-color: violet;
}

.table-list-row.table-border-left:nth-child(2n+1) {
    background-color: red
}

.accordion-title > h3, .views-switcher-component, .task-board-icons, .dropdown-submenu-open {
    color: #000;
}

#popover-content, #popover-content h2 {
    color: #000;
}

.sidebar ul li.active{
    background-color: red;
}

.sidebar ul li.active a{
    color: white;
}

#modal-box {
    background-color: #333;
}

.select2-container {
    color: #000;
}

a .fa {
    color: #999;
}

.web-notification-icon:focus, .web-notification-icon:hover {
    color: #ddd;
}

.activity-title {
    color: #999;
}

.activity-event:hover .activity-title {
    color: #000;
}

.select-dropdown-input-container {
    background-color: #fff;
}

.comment:hover {
    background-color: #444;
}

#task-summary h2 {
    color: #fff;
}

.user-mention-link {
    color: #0ce3ac;
}

.user-mention-link:hover {
    color: #fff;
}

.comment-actions a:focus, .comment-actions a:hover {
    color: #0ce3ac;
}

.ui-tooltip {
    background-color: #333;
    color: #fff;
}

.task-board .task-board-assignee {
    color: #555;
}

.task-board {
    color: #222;
}

td a.dropdown-menu strong i, td a.dropdown-menu strong {
    color: #222;
}

header > h1{
  color: #222;
}


































































































































































































































































































































































































































































































































































