body {
    color: #fff;
    background-color: #222;
}

a, table th a {
    color: #0ce3ac;
}

table th {
    background-color: #375a7f;
    border-color: #375a7f;
}

table td {
    border-color: #375a7f;
}

table#board td a:hover {
    color: #000;
}

table.table-striped tr:nth-child(2n+1) {
    background-color: #444;
}

.accordion-title > h3, .views-switcher-component, .task-board-icons, .dropdown-submenu-open {
    color: #000;
}

#popover-content, #popover-content h2 {
    color: #000;
}

.sidebar > ul a:hover, .dropdown-menu-link-text, .dropdown-menu-link-icon, .action-menu, a:hover, .sidebar > ul li.active a, .sidebar > ul li.active a:focus, .sidebar > ul li.active a:hover, .page-header h2 a, h1, h2, h3, .dashboard-table-link {
    color: #fff;
}
#modal-content,  #modal-content h2 {
    color: #000;
}
